---
layout: default
---
{% if site.posts.size > 0 %}
    {% for subheading in site.subheadings %}
    <h2 class="post-list-heading">{{ subheading }}</h2>
      <ul class="post-list">
        {% assign subheadingposts = site.posts | where:'subheading', subheading %}
        {% for post in subheadingposts %}
        <li>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
          {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
          <span class="post-meta">Posted on {{ post.date | date: date_format }}</span>
          {% if site.show_excerpts %}
            {{ post.excerpt | truncatewords: 50 }}
          {% endif %}
        </li>
        {% endfor %}
        <hr>
      </ul>
    {% endfor %}
{% endif %}
